[submodule "MeddySDK"]
	path = MeddySDK
	url = https://github.com/ChristianHinko/MeddySDK.git
	branch = master
[submodule "boost"]
	path = boost
	url = https://github.com/boostorg/boost.git
[submodule "GeneralCMakePresets"]
	path = GeneralCMakePresets
	url = https://github.com/ChristianHinko/GeneralCMakePresets.git
[submodule "CppUtils"]
	path = CppUtils
	url = https://github.com/ChristianHinkle/CppUtils.git
